@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Inter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #1b1b1b;
    --color-white: #fff;
    --color-green: #DCE9B1;
    --color-grey-bg: #F5F5F5;
    --color-grey: #EBEBEB;
    --color-text: #575757;
}

body {
    overflow-x: hidden;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1376px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid var(--color-black);
    border-radius: 28px;
    display: inline-block;
    margin-bottom: 24px;
}

.span-stroke {
    font-size: 14px;
    color: var(--color-white);
    padding: 8px 12px;
    border: 1px solid var(--color-white);
    border-radius: 28px;
}

/* Buttons */

.btn {
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn--stroke {
    padding: 12px 32px;
    border: 1px solid var(--color-black);
    border-radius: 28px;
}

.btn--stroke-arrow {
    padding: 12px 12px;
    border: 1px solid var(--color-black);
    border-radius: 28px;
}

.btn--primary {
    padding: 12px 32px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 28px;
}

.btn--primary-arrow {
    padding: 12px 14px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 28px;
}

.btn--green {
    padding: 12px 32px;
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid rgba(0,0,0, 0.08);
    border-radius: 28px;
    color: var(--color-text);
}


/* Header */

.header {
    width: 100%;
    padding-block: 44px;
    background-color: var(--color-grey-bg);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar__link {
    font-size: 16px;
}

.header__buttons {
    display: flex;
}

/* Hero */

.hero {
    width: 100%;
    padding-block: 28px;
    background-color: var(--color-grey-bg);
}

.hero__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.hero__img {
    max-width: 524px;
    width: 100%;
    height: 781px;
    background-color: var(--color-grey);
    border-radius: 24px;
}

.hero__content {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__content-images {
    display: flex;
    gap: 25px;
}

.hero__content-img {
    width: 270px;
    height: 176px;
    background-color: var(--color-grey);
    border-radius: 31px;
}

.hero__title {
    font-size: 60px;
    margin-bottom: 12px;
    font-weight: 600;
}

.hero__description {
    font-size: 14px;
    margin-bottom: 40px;
}

.hero__buttons {
    display: flex;
}

/* navigation */

.navigation {
    width: 100%;
    background-color: var(--color-green);
    padding: 32px 18px;
}

.navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__users {
    display: flex;
    gap: 12px;
    align-items: center;
}

.navigation__img {
    width: 56px;
    height: 56px;
    background-color: var(--color-grey);
    border-radius: 50%;
}

.navigation__text {
    font-size: 16px;
    max-width: 196px;
}

.navigation__buttons {
    display: flex;
    gap: 12px;
}

/* about */

.about {
    width: 100%;
    padding-block: 77px;
    background-color: var(--color-grey-bg);
}

.about__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 202px;
}

.about__blocks {
    display: flex;
}

.about__left {
    display: flex;
    gap: 24px;
}

.about__left-img {
    padding: 10px 24px;
    max-width: 407px;
    width: 100%;
    height: 440px;
    background-color: var(--color-grey);
    border-radius: 24px;
}

.about__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__buttons {
    display: flex;
    gap: 14px;
}

.about__img {
    height: 440px;
    max-width: 507px;
    width: 100%;
    background-color: var(--color-grey);
    padding: 10px 24px;
    border-radius: 24px;
}

/* works */

.works {
    width: 100%;
    padding-block: 48px;
}

.works__name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.works__title {
    max-width: 550px;
}

.works__buttons {
    display: flex;
}

.works__slider {
    display: flex;
    gap: 24px;
}

.works__img {
    position: relative;
    padding: 24px;
    max-width: 588px;
    width: 100%;
    height: 632px;
    border-radius: 24px;
    background-color: var(--color-grey);
}

.works__span {
    justify-self: flex-start
}

.works__description {
    position: absolute;
    bottom: 24px;
    padding: 12px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 14px;
}

.works__content {
    display: flex;
    flex-direction: column;
    margin-right: 130px;
}

.works__content-name {
    font-size: 24px;
}

.works__content-text {
    font-size: 14px;
}

/* service */

.service {
    width: 100%;
    background-color: var(--color-grey-bg);
    padding-block: 80px;
}

.service__name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.service__title {
    max-width: 450px;
}

.service__interaction {
    display: flex;
    gap: 12px;
    align-items: center;
}

.service__label {
    padding: 5px 5px 5px 12px;
    border-radius: 36px;
    width: 266px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
}

.service__btn-search {
    padding: 10px;
}

.service__input {
    width: 130px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border: none;
}

.service__buttons {
    display: flex;
}

.service__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.service__item {
    padding: 24px;
    border-radius: 12px;
    display: flex;
    align-items: start;
}

.service__item-white {
    background-color: var(--color-white);
}

.service__count {
    flex: 1;
}

.service__description {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex: 2;
}

.service__text {
    font-size: 18px;
    max-width: 550px;
    margin-bottom: 12px;
}

.service__tag {
    margin: 0;
}

.service__block {
    flex: 1;
}

.service__images {
    flex: 2;
    display: flex;
    gap: 14px;
}

.service__img {
    background-color: var(--color-grey);
    width: 100%;
    height: 473px;
    border-radius: 24px;
}

/* test */

.test {
    width: 100%;
    padding-block: 64px;
}

.test__name {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.test__title {
    max-width: 330px;
}

.test__block {
    overflow: hidden;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}

.test__content {
    padding: 57px 24px;
    width: 100%;
    background-color: var(--color-green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.test__img {
    max-width: 586px;
    width: 100%;
    height: 434px;
    background-color: var(--color-grey);
}

.test__heading {
    max-width: 500px;
    font-size: 32px;
    font-weight: 600;
}

.test__description {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.test__text {
    font-size: 14px;
}