* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #1b1b1b;
    --color-white: #fff;
    --color-green: #DCE9B1;
    --color-grey-bg: #F5F5F5;
    --color-grey: #EBEBEB;
    --color-text: #575757;
}

body {
    overflow-x: hidden;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1376px;
    margin: 0 auto;
}


/* Buttons */

.btn {
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn--stroke {
    padding: 12px 32px;
    border: 1px solid var(--color-black);
    border-radius: 28px;
}

.btn--stroke-arrow {
    padding: 12px 14px;
    border: 1px solid var(--color-black);
    border-radius: 28px;
}

.btn--primary {
    padding: 12px 32px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 28px;
}

.btn--primary-arrow {
    padding: 12px 14px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 28px;
}


/* Header */

.header {
    width: 100%;
    padding-block: 44px;
    background-color: var(--color-grey-bg);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar__link {
    font-size: 16px;
}

.header__buttons {
    display: flex;
}

/* Hero */

.hero {
    width: 100%;
    padding-block: 28px;
    background-color: var(--color-grey-bg);
}

.hero__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.hero__img {
    max-width: 524px;
    width: 100%;
    height: 781px;
    background-color: var(--color-grey);
    border-radius: 24px;
}

.hero__content {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__content-images {
    display: flex;
    gap: 25px;
}

.hero__content-img {
    width: 270px;
    height: 176px;
    background-color: var(--color-grey);
    border-radius: 31px;
}

.hero__title {
    font-size: 64px;
    margin-bottom: 12px;
}

.hero__description {
    font-size: 14px;
    margin-bottom: 40px;
}

.hero__buttons {
    display: flex;
}
